@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  src: local('Futura Light'), local('Futura-Light'),
    url('../fonts/FuturaLT-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: local('Futura Medium'), local('Futura-Medium'),
    url('../fonts/FuturaLT.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: local('Futura Heavy'), local('Futura-Heavy'),
    url('../fonts/FuturaLT-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'ClipperSoleil';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Soleil.woff2) format('woff2');
}

@font-face {
  font-family: 'ClipperSoleil';
  src: url(../fonts/Soleil-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: 400;
}
