.popup-container {
  height: 567px;
  width: 306px;
  position: fixed;
  top: 12px;
  right: 12px;
  botton: initial;
  left: initial;
  z-index: 1999 !important;
  display: block;
  border: none;
  border-radius: 20px;
  background-color: var(--st__neutral-bg1);
  box-shadow: 0px 12px 48px var(--st__neutral-fg3);
}

#popup-content {
  min-height: 100%;

  body {
    overflow: hidden;
    position: fixed;
    min-height: 100%;
  }
}

.cancel-container {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1999;
  cursor: pointer;
}

.cancel-button-icon {
  width: 24px;
  height: 24px;
  z-index: 2000;
  -webkit-mask-image: url('../icons/close.svg');
  fill: var(--st__neutral-fg1);
}
