body {
  padding-left: 10px;
}

.keys {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5px;
  margin-bottom: 10px;
}

.twitter-keys {
  display: flex;
  flex-direction: column;
}

label,
input {
  display: inline-block;
}

.keys label {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 5px;
}

.keys label + input {
  width: 50%;
  margin: 0 10% 0 4%;
}
