.search-section {
  padding: 2px 0 10px 0;

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 20px;
  }
}

#search-form {
  display: flex;
  justify-content: center;
  width: 80%;
  color: var(--st__neutral-fg1);
}

// input[type='text'] {
//   line-height: 40px;
// }

.search-input {
  display: block;
  font-size: 24px;
  font-family: ClipperSoleil, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-style: italic;
  font-stretch: 100%;
  font-weight: 400;
  width: 100%;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 4px 0 3px;
  line-height: 250%;

  &:hover {
    background-color: var(--st__neutral-hover-bg1);
  }

  &:focus {
    background-color: var(--st__neutral-hover-bg1);
    border: 1px dotted var(--st__neutral-fg3);
  }
}

// Issues with displaying Futura in input
::-webkit-input-placeholder {
  line-height: 200%;
}

.search-menu {
  padding: 0 24px 24px;

  & section {
    margin: 12px 0 24px;
  }

  & h4 {
    color: var(--st__neutral-fg2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.search-results {
}
.search-result {
  display: flex;

  &:hover {
    background-color: var(--st__neutral-bg2);
  }
}
.search-result-symbol {
  flex: 0 0 80px;
}
.search-result-company {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-match {
  color: var(--st__primary-base);
}
