<div class="quote-cell">
    <div class="quote-name">
        <span class="ticker"><%= ticker %></span>
        <span class="company"><%= company %></span>
    </div>
    <div class="quote">
        <span class="price">
            <%= priceChange %>
        </span>
        <span class="percent">
            (<%= percentChange %>)
        </span>
    </div>
</div>
