<form id="quote-form">
    <input type="text"
           class="search-input quote-input"
           id="symbols"
           placeholder="Enter comma-separated symbols, eg. TSLA,APPL,...">
    <!-- <input type="submit" class="submit-quote" value="Enter"> -->
</form>
