.quote-section {
  padding: 10px 0 10px 0;
}

.list-controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 27px;
}

#new-quote {
  display: flex;
  align-items: start;
  button {
    padding-top: 3px;
  }
}

#quote-form {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;

  & input:first-child {
    width: 100%;
    font-size: 13px;
    line-height: 2;
  }
}

#new-quote-button {
  & i:hover {
    color: var(--st__primary-base);
  }
  &:active, &:focus {
    border: none;
    outline: none;
  }
}

#remove-quote-button {
  & i:hover {
    color: var(--st__semantic-negative-base);
  }
  &:active, &:focus {
    border: none;
    outline: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  padding: 0 24px 10px 0;
}

.quote-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 2px 20px 2px 20px;
  padding: 2px 20px 5px 20px;
  border-bottom: 1px solid var(--st__neutral-fg3);
  border-radius: 5px;
  &:hover {
    background-color: var(--st__neutral-bg2);
  }
}

.quote {
  text-align: right;
  flex: 1 0 60%;
  // display: flex;
  // flex-direction: column;
  // background-color: green;
}

.quote-name {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
  span:not(:first-child) {
    color: var(--st__neutral-fg3);
  }
}

.price-change {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  div:not(:first-child) {
    margin-left: 8px;
  }
}

.after-hours {
  span:not(:first-child) {
    color: var(--st__neutral-fg2);
  }
}
