@import "~bootstrap";

@import './reset.scss';
@import '../../../css/font.css';
@import '../../../css/theme.scss';

// section {
//   border: 1px solid white;
// }

button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;  
}

.cancel-button-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: url('../../../icons/close.svg');
  background: var(--st__neutral-fg1);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 0.5s ease-out;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;

  button {
    border-bottom: 1px solid var(--st__neutral-fg2)
  }
}
