.stock-chart {
  width: 100%;
  height: auto;
}

#chart-container {
  // min-height: 400px;
  // height: 400px;
  width: 100%;
}

.canvasjs-stock-container canvas {
  // min-height: 300px;
  // width: 100%;
}
