<!DOCTYPE html>
<html>
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
      <section class="search-section">
        <form id="search-form">
          <input class="search" placeholder="Search...">
        </form>
      </section>
    </div>
    <!-- Only inject index.bundle.js -->
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
