<!DOCTYPE html>
<html>
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section class="search-section">
      <input class="search" placeholder="Search...">
      <button class="cancel-button">X</button>
    </section>
    <!-- Only inject index.bundle.js -->
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
